.Project {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  height: 275px;
  align-items: center;

  .Info {
    display: flex;
    height: 80%;
    width: 40%;
    flex-direction: column;
    padding: 0 1rem;
    justify-content: space-around;
    align-items: center;

    h3 {
      font-family: var(--atlas);
      font-size: 2rem;
      font-weight: bold;
      margin: 0 auto;
    }
    .Tags {
      display: flex;
      //   background-color: firebrick;
      max-width: 90%;
      font-family: var(--decima);
      ul {
        display: flex;
        flex-flow: row wrap;
      }
      ul li {
        display: inline;
        padding-left: 0.5rem;
        color: var(--pink);
      }
    }
  }

  .Preview {
    width: 60%;
    background-color: firebrick;
    height: 250px;
  }
}
