.About {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  height: 90vh;

  p {
    font-family: "Atlas";
  }

  h4 {
    // color: blue;
    font-size: 2rem;
    font-family: "Decima Mono Pro", Helvetica, sans-serif;
    // font-weight: bold;
  }
}
