.Skillset {
  flex: 3 1 content;
  min-width: 225px;
  margin-bottom: 28px;

  .SkillTitle {
    border-bottom: 0.75rem solid var(--pink);
    border-left-width: 0;
    border-right-width: 0;
    border-image: linear-gradient(to right, var(--pink), yellow);
    color: var(--pink);
    font-size: 1.5rem;
    font-family: var(--atlas);
    text-shadow: 0.1rem 0.1rem 0.25rem rgba(255, 192, 203, 0.5);
    padding-left: 0;
  }

  li {
    padding-left: 1rem;
    font-size: 14px;
    line-height: 28px;
    list-style: none;
  }
}
